<!DOCTYPE html>
<html lang="ko">
<head>
    <title>공통 헤더</title>
</head>
<body>
<header th:fragment="headerSj">
    <div class="container">
        <div class="flex">
            <!-- 로고 영역 -->
            <div class="flex">
                <div class="logo-icon"></div>
                <span class="logo-text">Art U</span>
            </div>

            <div class="flex">
                <!-- 로그인된 유저 정보가 있을 때만 유저명과 로그아웃 버튼 표시 -->
                <div class="user-info" th:if="${session.user != null}">
                    <span th:text="'안녕하세요, ' + ${session.user?.userName} + '님!'"></span> &nbsp;|| &nbsp;
                    <a href="/user/checkPw.do">비민번호 변경</a>  &nbsp;|| &nbsp;
                    <a href="/user/signOut.do">로그아웃</a> &nbsp;|| &nbsp;
                    <a href="/user/signOut.do">탈퇴</a>

                </div>
                <!-- 로그인되지 않은 경우에는 로그인 링크 표시 -->
                <div class="login-link" th:if="${session.user == null}">
                    <a href="/user/signIn.do">로그인</a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
