<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공연 리뷰</title>
    <link rel="stylesheet" href="/css/eventReview.css">
</head>

<body>
<div th:replace="~{fragments/user/headerSj :: headerSj}"></div>
<div th:replace="~{fragments/homeHeader :: #homeHeader}"></div>

<h2>리뷰</h2>

<div id="review-images">
    <h3>사진 & 동영상</h3>
    <ul>
        <li class="review-image-item" th:each="image : ${images}">
            <img th:src="@{${image.imgUrl}}" alt="공연 ID 에 따른 이미지">
        </li>
        <li>
            <button class="load-more-btn">더보기</button>
        </li>
    </ul>
</div>

<div id="review-list">
    <h3>리뷰 리스트</h3>
    <ul>
        <li th:each="review : ${reviews}" class="review-item">
            <div class="review-header">
                <strong th:text="${review.user.userId}" class="review-username"></strong>
                <span th:text="${review.createdAt}" class="review-date"></span>
            </div>
            <div class="review-body">
                <div class="review-left">
                    <div class="review-rating">
                        <p>⭐ <span th:text="${review.rate}"></span>/5</p>
                    </div>
                        <p th:text="${review.contents}" class="review-content"></p>
                </div>
                <div class="review-right">
                    <p th:each="image : ${review.eventReviewImages}">
                        <img th:src="@{${image.imgUrl}}" alt="리뷰 이미지">
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>


<a id="write-review" class="write-review-btn" th:href="@{/reviews/form(eventId=${event.id})}">
    리뷰 작성하기
</a>

</body>
</html>