<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공연 리뷰</title>
</head>
<body>
<h2>리뷰</h2>

<h3>사진 & 동영상</h3>
<div class="review-images">
<!--<ul>-->
<!--    <li th:each="image : ${reviewImages}">-->
<!--        <img th:src="@{${image.imgUrl}}" alt="리뷰 이미지">-->
<!--    </li>-->
<!--</ul>-->
<!--<button id="load-more-images" data-event-id="${event.id}">more ></button>-->
<!--=======-->
<!--    <ul>-->
<!--        <li th:each="image : ${reviewImages}">-->
<!--            <img th:src="${image.imgUrl}" alt="리뷰 이미지">-->
<!--        </li>-->
<!--    </ul>-->
<!--    <button id="load-more-images" data-event-id="${event.id}">more ></button>-->
</div>

<div id="review-list">
    <h3>리뷰 리스트</h3>
    <ul>
        <li th:each="review : ${reviews}">
            <p><strong th:text="${review.user.userId}"></strong>
                <span th:text="${review.createdAt}"></span></p>
            <p>⭐ <span th:text="${review.rate}"></span>/5</p>
            <p th:text="${review.contents}"></p>
            <ul>
                <li th:each="image : ${review.eventReviewImages}">
                    <img th:src="@{${image.imgUrl}}" alt="리뷰 이미지">
                </li>
            </ul>

        </li>
    </ul>
</div>
<a id="write-review" href="/reviews/form?eventId=1">
리뷰 작성하기
</a>

<script>
    function loadMoreImages() {
        alert("더 많은 이미지를 불러옵니다.");
    }

    document.getElementById("write-review").addEventListener("click", function () {
        alert("리뷰 작성 페이지로 이동합니다.");
    });
</script>
</body>
</html>