<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/css/followee.css">-->
    <title>Followee</title>

</head>
<body>
<h1><span th:text="${user.userName}"></span>님의 Followee</h1>
    <div class="followee-list" th:each="follower : ${user.followers}">
        <div class="followee-card">
<!--            <img src="/img/iU.jpg" alt="Profile Image" class="followee-image">-->
            <div class="followee-info">
                <p th:text="${follower.followees.userName}" ></p>
                <p th:text="${follower.followees.userEmail}"></p>
            </div>
            <button class="followeeBtn"
                    th:data-follower="${user.userId}"
                    th:data-followee="${follower.followees.userId}">언팔로우</button>
        </div>
    </div>

</body>
<script>
    const followeeBtns = document.querySelectorAll(".followeeBtn");
    const USER_ID = '[[${user.userId}]]';

    followeeBtns.forEach(button => {
        button.addEventListener("click",async function(){
            const followerId = this.dataset.follower;
            const followeeId = this.dataset.followee;
            const url = `/posting/${USER_ID}/followee.do`; // 백틱!!!!

            const response = await fetch(url,{
                method:'DELETE',
                headers: {'Content-Type': 'application/json'},
                body : JSON.stringify({
                    followerId: followerId,
                    followeeId: followeeId
                })
            });
            if (response.ok){
                alert("언팔로우 성공");
                this.closest('div').remove();
            }
        });
    });
</script>
</html>