<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/followee.css">
    <title>Followee</title>

</head>
<body>
<h1><span th:text="${user.userName}"></span>님의 Followee</h1>
    <div class="followee-list" th:each="follower : ${user.followers}">
        <div class="followee-card">
            <img src="/img/iU.jpg" alt="Profile Image" class="followee-image">
            <div class="followee-info">
                <p th:text="${follower.followees.userName}" ></p>
                <p th:text="${follower.followees.userEmail}"></p>
            </div>
            <button type="button">팔로우</button>
        </div>
    </div>

</body>
</html>