<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/css/follower.css">-->
    <title>Follower</title>
</head>

<body>
<h1><span th:text="${user.userName}"></span>님의 Follower</h1>
    <div class="follower-list" th:each="followee : ${user.followees}">
        <div class="follower-card">
<!--            <img src="/img/10cm.jpg" alt="Profile Image" class="follower-image">-->
            <div class="follower-info">
                <p th:text="${followee.followers.userName}"></p>
                <p th:text="${followee.followers.userEmail}"></p>
            </div>
            <button class="followerBtn"
                    th:data-followee="${user.userId}"
                    th:data-follower="${followee.followers.userId}">팔로우</button>
        </div>
    </div>
</body>
<script>
    const followerBtns = document.querySelectorAll(".followerBtn");
    const USER_ID = '[[${user.userId}]]';

    followerBtns.forEach(button => {
        button.addEventListener("click",async function(){
            const followerId = this.dataset.follower;
            const followeeId = this.dataset.followee;
            const url = `/posting/${USER_ID}/followee.do`; // 백틱!!!!
            const response = await fetch(url,{
                method:'POST',
                headers: {'Content-Type': 'application/json'},
                body : JSON.stringify({
                    followeeId: followeeId,
                    followerId: followerId
                })
            });
            if (response.ok){alert("팔로우 성공")}
        });
    });


</script>
</html>