<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/css/userpage.css">-->
    <title>개인페이지</title>
</head>

<!--<style>-->
<!--    #postTbody img {-->
<!--        height: auto;-->
<!--        margin-right: 10px;-->
<!--    }-->
<!--</style>-->

<body>
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image-wrapper">
            <img src="/img/10cm.jpg" alt="프로필 이미지" class="profile-image">
        </div>
<!--        <div class="profile-info" style="width: 50px">-->
            <h1><span th:text="${userPage.user.userName}"></span>님의 페이지</h1>
            <div class="post-section">
                <div>
                    <p th:text="${userPage.user.userName}"></p>
                    <p th:text="${userPage.user.userEmail}"></p>
                </div>
                <div class="post-add-btn-container">
                    <button id="postingBtn" class="post-btn">포스트</button>
                    <a href="/posting/${USER_ID}/postAdd.do"><button class="postAddBtn">게시물 추가</button></a>
                </div>
            </div>
<!--                <div class="follow-stats" style="display: flex; justify-content: space-between; width: auto;">-->
                    <p>게시물</p>
                    <p th:text="${userPage.countPosting}">게시물 수</p>
                    <p><a th:href="@{'/posting/{userId}/follower.do'(userId=${userPage.user.userId})}">팔로워</a></p>
                    <p th:text="${userPage.countFollowee}">팔로워 수</p>
                    <p><a th:href="@{'/posting/{userId}/followee.do'(userId=${userPage.user.userId})}">팔로우</a></p>
                    <p th:text="${userPage.countFollower}">팔로우 수</p>
                </div>
            </div>
        </div>

        <div >
<!--            <table id="postTable">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>이미지</th>-->
<!--                    &lt;!&ndash;                <th>내용</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <th>장소태그</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <th>사람태그</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <th>댓글</th>&ndash;&gt;-->
<!--                </tr>-->
<!--                </thead>-->
                <div id="postTbody" class="post-gallery">

                </div>
<!--            </table>-->

    </div>
</div>
</div>

</body>

<script>
    const postTbody = document.getElementById("postTbody");
    const USER_ID='[[${userPage.user.userId}]]';
    const userPost = async function(){
        let url = `/posting/${USER_ID}/postpage.do`;
        let response = await fetch(url);
        let posts = await response.json();
        let html = "";
        console.log(posts)
        for(let p of posts){
            // console.log(p)
            console.log(p.postingImages)
            let firstImageObj = p.postingImages.find(img => img.imgOrder === 0);
            let firstImage = firstImageObj && firstImageObj.imgUrl;
            html+=`
                    <tr>
                        <td>
                            <img src="${firstImage}" alt="포스팅 대표 이미지"  class="clickable-image" data-post-id="${p.post_id}">
                        </td>
                    </tr>`;
        }
        postTbody.innerHTML=html;
    };
    document.getElementById('postingBtn').addEventListener('click',userPost);

</script>

</html>