<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>

<h2>회원가입 폼</h2>
<form action="/user/signUp.do" method="POST">

    <label>아이디:
        <input type="text" id="userId" name="userId" required value="user30"><br><br>
    </label>

    <label>이메일:
        <input type="email" id="userEmail" name="userEmail" required value="1234@artu.com"><br><br>
    </label>

    <label>비밀번호:
        <input type="password" id="password" name="password" required value="artuartu"><br><br>
    </label>

    <label>이름:
        <input type="text" id="userName" name="userName" required value="홍길동"><br><br>
    </label>

    <label>생년월일:
        <input type="date" id="userBirth" name="userBirth" required value="2025-03-01"><br><br>
    </label>

    <label for="gender">성별:
        <select id="gender" name="gender" required>
            <option value="male">남성</option>
            <option value="female">여성</option>
        </select><br><br>
    </label>

    <p>
        <button type="reset">초기화</button>
        <button type="submit">회원가입</button>
    </p>
</form>
</body>
</html>