<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 - 새 비밀번호 입력</title>

</head>
<body>

<h2><span th:text="'안녕하세요, ' + ${session.user?.userName} + '님!'"></span> <br><br> 새 비밀번호를 입력하세요</h2>
<hr>


<form action="#"  method="post">
    <label for="newPassword">새 비밀번호:</label>
    <input type="password" id="newPassword" name="newPw" required >
    <p>영어 대소문자, 숫자, 특수문자(!, $, %, ^, *)가 최소 하나씩 포함되고, 길이가 5자 이상, 20자 이하인지 확인</p>

    <label for="confirmPassword">새 비밀번호 확인:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required onkeyup="checkPasswords()">
    <br><br>

    <!-- 비밀번호 일치 여부 메시지 표시 -->
    <span id="message"></span>
    <span id="message2"></span>
    <br><br>

    <button type="submit" id="submitBtn" >비밀번호 변경</button>
</form>

<script>
    // 비밀번호 유효성 검사
    //  onkeyup="checkPasswordValidity()" 빼놓음 // 비활성화 해놓음
    function checkPasswordValidity() {
        const newPassword = document.getElementById("newPassword").value;
        const submitBtn = document.getElementById("submitBtn");
        const message = document.getElementById("message");

        // 비밀번호 유효성 검사 정규식
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!$%^*]).{5,20}$/;
        const isValidPassword = passwordRegex.test(newPassword);

        // 유효성 검사 결과에 따라 제출 버튼 활성화/비활성화
        if (isValidPassword) {
            message2.style.color = "green";
            message2.textContent = "비밀번호가 유효합니다.";
            //submitBtn.disabled = false;  // 비밀번호가 유효하면 제출 버튼 활성화
        } else {
            message2.style.color = "red";
            message2.textContent = "비밀번호가 유효하지 않습니다.";
            //submitBtn.disabled = true;   // 비밀번호가 유효하지 않으면 제출 버튼 비활성화
        }
    }

    // 비밀번호가 일치하는지 확인하는 함수
    function checkPasswords() {
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        const message2 = document.getElementById("message2");

        // 비밀번호가 일치하면 "일치합니다" 메시지, 아니면 "일치하지 않습니다" 메시지 표시
        if (newPassword === confirmPassword) {
            message2.style.color = "green";
            message2.textContent = "비밀번호가 일치합니다.";
        } else {
            message2.style.color = "red";
            message2.textContent = "비밀번호가 일치하지 않습니다.";
        }
    }
</script>
</body>


</html>

