/* 기본 스타일 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

form {
    background-color: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    padding-left: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: none;
    border-color: #0095f6;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #5400A8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #7b4ce4;
}

p {
    font-size: 14px;
    margin-top: 15px;
}

a {
    color: #0095f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 80%;
    margin-top: 30px;
    border: 0;
    border-top: 1px solid #ddd;
}

/* 반응형 디자인 */
@media (max-width: 400px) {
    form {
        width: 90%;
        padding: 30px;
    }

    h2 {
        font-size: 30px;
    }
}