body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.used {
    background-color: #d4edda;
}

.not-used {
    background-color: #f8d7da;
}