/* 기본 스타일 설정 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
}


/* 테이블 스타일 */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: white;
    font-weight: bold;
}

tr>th{
    background-color: #5400A8;
}

td button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 등록 버튼 스타일 */
button {
    padding: 12px 30px;
    background-color: #5400A8;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #7b4ce4;
}

/* 수정, 삭제 버튼 스타일 */
td button.edit {
    background-color: #888888;
    color: white;
}

td button.edit:hover {
    background-color: #7b4ce4;
}

td button.delete {
    background-color: #ff1111;
    color: white;
}

td button.delete:hover {
    background-color: #bb2222;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    td button {
        font-size: 12px;
        padding: 6px 12px;
    }

    button {
        padding: 10px 20px;
    }
}
