<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../static/css/style.css">
    <title>위젯 테스트 페이지</title>
</head>
<body>
<h1>위젯 테스트 페이지</h1>
<div class="widget-container">
    <div class="widget" id="weather-white-3x1">
        <img src="https://dummyimage.com/100/919191/ffffff.png" alt="weather icon">
        <span>100도</span>
        <p>내 위치<span>서울</span></p>
    </div>
</div>
</body>
</html>